    body{
        background-color: darkorchid;
    }

    #titulo {
        font-size: 70px;
        text-align: center;
        color:black(192,20,123)

    }
    header{
        padding: 20px;
        background-color: rgb(17, 17, 17);
        border-bottom: 5px solid;
        font-size: 35px;
        color: black;
    }

    .texto {
        font-size: 50px;
        text-align: justify;
        color: black (20,18,18), 0, 0);

    }
    .listen1 {
        font-size: 50px;
        text-align: center;
    list-style-position: inside;
    }

.listen2 {
    font-size: 50px;
    text-align: center;
    list-style: none;
}

.inicio{
    padding: 20px;
    background-color: black;
    border-bottom: 5px solid white;
    font-size: 50px;
    color: aquamarine;
    display: flex;
    justify-content: space-around;
}

